<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h2>Welcome {{user.first_name}} {{user.last_name}}!</h2>
    <a href="/logout">Logout</a>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="create_post" method="POST">
        {% csrf_token %}
        <textarea name="text"></textarea>
        <input type="submit" value="Post">
    </form>
    {% for post in all_posts %}
    <p><a href="/user_profile/{{post.user.id}}">{{post.user.first_name}}:</a></p>
    <p> <a href="/user_post/{{post.id}}">{{post.text}}</a></p>
        {% if post.user == user %}
        <form action="delete_post/{{post.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>
        {% endif %}
        <form action="/like/{{post.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="like">
        </form>
        {{ post.user_likes.count }}
        <form action="/add_comment/{{post.id}}" method=POST>
            {% csrf_token %}
            Comment: <input type="text" name='comment'>
            <input type="submit" value='submit'>
        </form>
    {% endfor %}
</body>

</html>